.paragraph {
    color: burlywood;
}



/* another html */
nav > ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}

nav li:hover {
    background-color: aqua;
}

nav li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightblue;
    padding-left: 11px;

}
nav li:hover > .dropdown {
    display: block;

}